.acceptance {
  margin-top: 150px;

  @media (max-width:860px) {
    margin-top: 100px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    padding-top: 38px;
    position: relative;
    overflow: hidden;

    @media (max-width:474px) {
      padding-top: 0;
    }
  }

  &__left-block {
    padding-top: 33px;
    max-width: 430px;
    margin-right: 45px;

    @media (max-width:860px) {
      max-width: 100%;

      >:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width:769px) {
      margin-right: 0;

      >:first-child {
        max-width: 75%;
      }
    }

    @media (max-width:474px) {
      >:first-child {
        max-width: 100%;
      }
    }
  }

  &__right-block {
    max-width: 505px;

    @media (max-width:860px) {
      position: absolute;
      max-width: 200px;
      right: 0;
    }

    @media (max-width:769px) {
      max-width: 150px;
      right: 0;
    }

    @media (max-width:474px) {
      display: none;
    }
  }
}