.acceptance(id="acceptance")
  .acceptance__container.container
    .stages__block-title.block-title
      .block-title__wrapper
        span.block-title__number 05
        p.block-title__text Прием работы
    p.acceptance__title.title  <span class="semi-bold">Последние штрихи</span>
    p.materials__subtitle.subtitle Вы осматриваете работу на предмет недочётов, подписываете акт приёма выполненных работ и оплачиваете любым удобным способом
    .acceptance__content
      .acceptance__left-block.list
        .acceptance__text-block.list__item
          img.list__img(src="../img/icons/document.png", alt="")
          p.list__text Подписываете акт приема выполненных работ
        .acceptance__text-block.list__item
          img.list__img(src="../img/icons/pay.png", alt="")
          p.list__text Оплачиваете работу любым  <span class="semi-bold">удобным способом или оформляете рассрочку </span>до 6 месяцев
        .acceptance__text-block.list__item
          img.list__img(src="../img/icons/last-gar.png", alt="")
          p.list__text Получаете <span class="semi-bold">гарантию </span>на материалы 15&nbsp;лет и на монтаж 3 года 
      .acceptance__right-block
        img.acceptance__photo(src="../img/garantee.png", alt="")