.choise(id="choise")
  .choise__container.container
    .stages__block-title.block-title
      .block-title__wrapper
        span.block-title__number 01
        p.block-title__text Выбор потолка 
    p.choise__title.title Для нас не составить труда установить потолок <span class="semi-bold">любой сложности</span>
    p.choise__subtitle.subtitle В нашем <span class="semi-bold">ассортименте</span> Вы сможете подобрать вариант для любого интерьера, на любой вкус, любой фактуры, формы и цвета, с рисунками и без, а наш замерщик в этом поможет
    .choise__content
      .choise__buttons.buttons
        .button(data-value='1')._active Фактуры
        .button(data-value='2') Конструкции
      .choise__tabs.tabs
        .tab.tab--1.active 
          .choise__tab-block.show-block
            +choise-item('../img/gloss.jpg','Глянцевое полотно','Благодаря яркому блеску и   отражающей способности, выглядит очень эффектно и визуально увеличивает объем   пространства, создавая в нем чувство воздушности.')
            +choise-item('../img/matt.jpg','Матовое полотно','Матовый натяжной потолок это   идеальное решение для отделки потолка, визуально напоминает идеально ровный   покрашенный или оштукатуренный потолок.')
            +choise-item('../img/satin.jpg','Сатиновое полотно','Отличается мягким блеском и уникальным светоотражением. Обладает необычным свечением и является идеальным   решением для создания уютных интерьеров.')(class='item__hidden _hidden')
            +choise-item('../img/printing.jpg','Полотно с фотопечатью','Придадут помещению   очарования, изысканности, а главное неповторимой оригинальности. С их помощью можно уникально оформить и преобразить любой интерьер.')(class='item__hidden _hidden')
          button.choise__btn_1.show-js Показать ещё
        .tab.tab--2
          .choise__tab-block.show-block
            +choise-item('../img/tiered.jpg','Многоуровневые потолки','Предоставляют возможность   создать неповторимый дизайн. Подчеркивают и преображают дизайн комнат и отлично справляются с визуальным зонированием пространства.')
            +choise-item('../img/carved.jpg','Резные потолки','В полотнах сделаны отверстия   разной формы и размеров, расположенные хаотично. В комбинации с подсветкой это   создает необычный декоративный эффект.')
            +choise-item('../img/soaring.jpg','Парящие потолки','Создают непередаваемые ощущения, как будто потолочное покрытие парит в воздухе. Размываются границы между стенами и полотном, визуально расширяется пространство.')(class='item__hidden _hidden')
            +choise-item('../img/sky.jpg','Звездное небо','Наиболее часто применяются в   детских комнатах и спальнях, чтобы придать помещению сказочности и таинственности,   что поможет расслабиться и окунуться в мир волшебства.')(class='item__hidden _hidden')
            +choise-item('../img/contour.jpg','Контурные потолки','Выглядят эффектно и стильно  благодаря подсветке в виде сплошных светящихся линий с четким контуром. Также   практичны и экономичны в использовании.')(class='item__hidden _hidden')
          button.choise__btn_2.show-js Показать ещё

