footer.footer
  .footer__container.container
    .footer__content
      .footer__top
        .footer__logo.logo-main._white
          .logo-main__title Комфорт<br>плюс
          .logo-main__text натяжные <br> потолки
        ul.footer__menu
          li.footer__item 
            a(href="#work").footer__link Наши работы
          li.footer__item 
            a(href="#reviews").footer__link Отзывы
          li.footer__item 
            a(href="#shares").footer__link Акции
          li.footer__item 
            a(href="#contacts").footer__link Контакты
          li.footer__item 
            a(href="tel:" data-da="footer__contacts, 2,860").footer__link._tel &#43; 7 (911) 554-04-01
      .footer__contacts
      .footer__bottom
        p.footer__text 2008 - 2021 ООО  “Комфорт плюс”. Все права защищены
        .footer__popups
          a(href="#popup_7" class="popup-link") Реквизиты
          a(href="#popup_8" class="popup-link") Политика конфиденциальности
        .footer__icons(data-da="footer__contacts, 1,860")
          a(href="https://vk.com/potolkipodkluch29") 
            img(src="../img/icons/vk.png", alt="")
          a(href="#") 
            img(src="../img/icons/whatsup.png", alt="")