head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Установим идеально ровные натяжные потолки за 24 часа без предоплаты с гарантией")
  title Комфорт Плюс - Натяжные потолки в Архангельске
  link(rel="stylesheet" href="/css/style.css" type="text/css")
  link(rel="stylesheet" href="/css/lib/swiper.css")
  link(rel="stylesheet" href="/css/lib/baguetteBox.min.css")
  link(rel="icon" href="img/icons/favicon.png")
  link(rel="preload" href="fonts/TTNorms-Regular.woff2" type="font/woff2" as="font" crossorigin)
  link(rel="preload" href="fonts/TTNorms-Regular.woff" type="font/woff" as="font" crossorigin)
  meta(property="og:locale" content="ru_RU")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Комфорт Плюс - Натяжные потолки в Архангельске")
  meta(property="og:description" content="Установим идеально ровные натяжные потолки за 24 часа без предоплаты с гарантией")
  meta(property="og:image" content="")
  meta(property="og:image:width" content="")
  meta(property="og:image:height" content="")