.installation(id="installation")
  .installation__container.container
    .stages__block-title.block-title
      .block-title__wrapper
        span.block-title__number 04
        p.block-title__text Установка потолка 
    p.installation__title.title К вам приезжает <span class="semi-bold">бригада опытных монтажников</span> и устанавливает натяжной потолок
    .installation__content
      .installation__left-block
        .installation__experiense Стаж работы:
          span.medium 13 лет
        img.installation__photo(src="../img/master.png", alt="")
      .installation__right-block.list
        .installation__text-block.list__item
          img.list__img(src="../img/icons/experience.png", alt="")
          p.list__text Опытные, аккуратные, вежливые, без вредных привычек     
        .installation__text-block.list__item
          img.list__img(src="../img/icons/car.png", alt="")
          p.list__text Приедут <span class="semi-bold">в оговоренное время</span>, и заранее предупредят о своем визите
        .installation__text-block.list__item
          img.list__img(src="../img/icons/drill.png", alt="")
          p.list__text Чистый монтаж, используются <span class="semi-bold"> перфораторы с пылеотводом,</span> проводится сухая уборка и вынос строительного мусора
        .installation__text-block.list__item
          img.list__img(src="../img/icons/balloon.png", alt="")
          p.list__text Для монтажа используется профессиональное <span class="semi-bold">взрывобезопасное оборудование</span> <br>(стеклопластиковые баллоны с тремя степенями защиты)
        .installation__text-block.list__item
          img.list__img(src="../img/icons/harpoon.png", alt="")
          p.list__text Используется французская система монтажа <a href="#popup_6" class="installation__link popup-link">«Гарпун»</a>
        .installation__btn-block
          a.btn__sta(href="#popup_2" class="popup-link") Пригласить мастера на замер
          span Замер бесплатный даже при отказе от услуг
