.measurer(id="measurer")
  .measurer__container.container
    .stages__block-title.block-title
      .block-title__wrapper
        span.block-title__number 02
        p.block-title__text Замеры
    p.measurer__title.title На этом этапе Вам может пригодиться <span class="semi-bold">наш замерщик</span> Денис:
    .measurer__content
      .measurer__left-block.list
        .measurer__text-block.list__item
          img.list__img(src="../img/icons/bosch.png", alt="")
          p.list__text Сделает <span class="semi-bold">точный замер</span> с первого раза лазерным дальномером BOSCH, что гарантирует фиксированную стоимость        
        .measurer__text-block.list__item
          img.list__img(src="../img/icons/cat.png", alt="")
          p.list__text <span class="semi-bold">Возьмет с собой подробный каталог</span> фактур и цветов, сравнит каждый материал и объяснит в чем отличие
        .measurer__text-block.list__item
          img.list__img(src="../img/icons/lamp.png", alt="")
          p.list__text Поможет с <a href="#popup_4" class="measurer__link popup-link">подбором освещения</a> и создаст идеальную схему расположения источников света под ваш интерьер
        .measurer__text-block.list__item
          img.list__img(src="../img/icons/help.png", alt="")
          p.list__text <span class="semi-bold">Поможет окончательно определиться с дизайном</span>, исходя из вашего интерьера и особенностей помещения
      .measurer__right-block
        img.measurer__photo(src="../img/photo.jpg", alt="")
    .application
      .application__text-block
        .application__title Оставьте заявку на <span class="bold">бесплатный замер</span> потолка на сайте и получите светильники или карниз <span class="bold">в подарок</span>
        a.application__btn.btn__sta._mesurer(href="#popup_2" class="popup-link") Заказать бесплатный замер
      img(src="../img/boxes.png", alt="").application__img