include mixins.pug

.questions(id="questions")
  .questions__container.container
    .questions__block-title.block-title
      .block-title__wrapper
        p.block-title__text Частые вопросы
    p.questions__title.title <span class="semi-bold"> Вы спрашивали - мы отвечаем</span>
    p.questions__subtitle.subtitle Здесь мы собрали <span class="semi-bold">ответы на вопросы о натяжных потолках,</span> чаще всего задаваемые нашими клиентами
    .questions__content
      .accordion
        .accordion-item
          button#accordion-button-1(aria-expanded='true')
            span.accordion-title В каких помещениях можно устанавливать натяжной потолок?
            span.icon
          .accordion-content
            p Натяжной потолок можно устанавливать в любых жилых и нежилых помещениях, в том числе в помещениях с повышенными требованиями (детские, медицинские кабинеты и проч). Потолки не провиснут при смене температуры, не впитают запахи, на них не будет конденсата. Потолок из сертифицированного материала не поменяет цвета, не потрескается со временем.
        .accordion-item
          button#accordion-button-2(aria-expanded='false')
            span.accordion-title Имеет ли натяжной потолок запах?
            span.icon
          .accordion-content
            p Потолок из качественной пленки ПВХ имеет незначительный запах только первые 1-2 дня, как любая новая вещь (пленка была упакована в герметичные рулоны,  а также в процессе монтажа пленка подвергается нагреву до 60-70 градусов). Проблема решается хорошим проветриванием помещения после установки.
        .accordion-item
          button#accordion-button-3(aria-expanded='false')
            span.accordion-title Сначала лучше клеить обои или монтировать потолки?
            span.icon
          .accordion-content
            p Совершенно не важно, в какой последовательности будет происходить ремонт! Выбирайте вариант наиболее удобный для вас.<br> Рекомендуем для начала провести первый этап установки профиля, затем обои, (чтобы при установке профиля для натяжного потолка, пыль от сверления не оседала на новые обои), и позже, заключительный этап - непосредственно натяжка натяжного потолка.  Но в случае, если Ваши стены уже поклеены обоями или покрашены, а пол устлан ламинатом/паркетом, мы также без проблем осуществим монтаж.
        .accordion-item
          button#accordion-button-4(aria-expanded='false')
            span.accordion-title Каковы сроки исполнения заказа?
            span.icon
          .accordion-content
            p В большинстве фирм срок изготовления полотна очень короткий, после замера в течение суток ваше полотно уже готово к монтажу. В среднем, монтаж потолка под ключ в комнате площадью 15 квадратных метров осуществляется ориентировочно около 3 часов, конечно, надо учитывать объём и сложность работ.
        .accordion-item
          button#accordion-button-5(aria-expanded='false')
            span.accordion-title Нужно ли подготавливать поверхность старого потолка перед установкой натяжного?
            span.icon
          .accordion-content
            p Нет никаких необходимых процедур перед установкой натяжного потолка. Единственное, в чём нужно быть уверенными - это в том, что на потолке не осталось материалов (если таковые есть - необходимо зачистить), к примеру, толстого слоя штукатурки, лепки, не надёжно приклеенной плитки ПВХ, частиц побелки, мелкого технического мусора, которые впоследствии могут обвалиться на натяжной потолок.<br> Очень мелкие частицы вышеперечисленного при осыпании на натяжной потолок остаются незаметными и не причинят потолку никакого вреда!<br>Также, в помещениях с явно нарушенной системой вентиляции, нужно заблаговременно провести герметизацию всех межблочных швов, стыков, щелей и отверстий для исключения всасывания или надувания воздухом полотна натяжного потолка в последующем.
        .accordion-item
          button#accordion-button-6(aria-expanded='false')
            span.accordion-title На сколько опустится натяжной потолок от базового?
            span.icon
          .accordion-content
            p На сколько опускается натяжной потолок зависит от выбора дизайна и чернового состояния поверхности. При грамотном монтаже можно свести отступ между верхом стены и полотном к минимуму.<br>Оптимальным значением, на которое будет уменьшаться высота комнаты при натягивании пленочного полотна в одном уровне, являются 5 см при креплении багета на стену.
        .accordion-item
          button#accordion-button-7(aria-expanded='false')
            span.accordion-title Надежны ли натяжные потолки? Насколько прочные?
            span.icon
          .accordion-content
            p Качественное полотно натяжного потолка очень прочное, выдерживает до 150 литров воды на квадратный метр, пробку из под шампанского, или, скажем, попавший в него детский мяч, мы все эти факторы неоднократно проверяли лично и ежедневно встречаемся с этим на практике! А боится полотно острых предметов (например, дротик от дартц, углы мебели, канцелярский нож и прочее).
        .accordion-item
          button#accordion-button-8(aria-expanded='false')
            span.accordion-title Материал из Китая разве может быть качественным?
            span.icon
          .accordion-content
            p Примите как факт, что 99% плёнок экспортируется из Китая, а вымышленные бренды и названия существуют лишь потому, что есть стереотип плохого китайского качества. Мы работаем с качественным оригинальным плотным материалом MSD. Желание заказчика сэкономить, а подрядчика заработать тесно связаны, экономия должна быть разумной и без потери качества.
        .accordion-item
          button#accordion-button-9(aria-expanded='false')
            span.accordion-title Как ухаживать за натяжными потолками?
            span.icon
          .accordion-content
            p Сертифицированная плёнка ПВХ сама по себе антистатичная и антипыльная, ухода за ним практически никакого не потребуется. Достаточно раз в 2-3 года проводить влажную уборку. Запрещено мыть натяжной потолок абразивными моющими средствами, шероховатыми и жёсткими материалами.
        .accordion-item
          button#accordion-button-10(aria-expanded='false')
            span.accordion-title Что случится с потолками при затоплении?
            span.icon
          .accordion-content
            p Потолки ПВХ способны выдержать затопление. Полотно влагонепроницаемо и способно выдержать свыше 100 кг воды на квадратный метр. В данном случае, необходимо связаться с фирмой, которая производила установку натяжного потолка. К вам приедет бригада монтажников и за короткий промежуток времени отремонтируют потолок: сольют воду, не повреждая полотна, просушат, и смонтируют его обратно. Тем самым, ваш ремонт и мебель будут спасены от затопления, а  потолок примет свой первоначальный вид.