.quiz
  .quiz__content
    .quiz-head
      .quiz__progress.progress
        .progress__line.line1.active
          span.progress__color
        .progress__line.line2
          span.progress__color
        .progress__line.line3
          span.progress__color
        .progress__line.line4
          span.progress__color
        .progress__line.line5
          span.progress__color
      .quiz__steps.steps
        .steps__item.active
          .steps__title Шаг 1
          .steps__subtitle Конструкция
        .steps__item
          .steps__title Шаг 2
          .steps__subtitle Фактура
        .steps__item
          .steps__title Шаг 3
          .steps__subtitle Освещение
        .steps__item
          .steps__title Шаг 4
          .steps__subtitle Подарок
        .steps__item
          .steps__title Шаг 5
          .steps__subtitle Контакты
    .quiz-body
      form.form.quiz-body__form(action='../quiz.php' method='POST')
        fieldset.form__fieldset(style='display: flex;')
          .form__title 1. Выберите конструкцию потолка
          .form__box
            .form__wrap
              label.form__label-radio.active-radio
                input.form__radio(type='radio' name='construction' value='Одноуровневый')
                .form__choise
                  img.form__image(src='../img/construction_1.jpg' alt='Одноуровневый')
                  .form__answer Одноуровневый
                  span.form__check
              label.form__label-radio
                input.form__radio(type='radio' name='construction' value='Двухуровневый')
                .form__choise
                  img.form__image(src='../img/construction_2.jpg' alt='Двухуровневый')
                  .form__answer Двухуровневый
                  span.form__check
              label.form__label-radio
                input.form__radio(type='radio' name='construction' value='Многоуровневый')
                .form__choise
                  img.form__image(src='../img/construction_3.jpg' alt='Многоуровневый')
                  .form__answer Многоуровневый
                  span.form__check
              label.form__label-radio
                input.form__radio(type='radio' name='construction' value='Не определился(-ась)')
                .form__choise
                  img.form__image(src='../img/construction_4.jpg' alt='Не определился(-ась)')
                  .form__answer Не определился(-ась)
                  span.form__check
          .form-button.form-button__indent
            button.button.button__blick.form-button__btn-next.button--primary Далее
        fieldset.form__fieldset(style='display: none;')
          .form__title 2. Выберите фактуру потолка
          .form__box
            .form__wrap
              label.form__label-radio.active-radio
                input.form__radio(type='radio' name='texture' value='Глянцевый')
                .form__choise
                  img.form__image(src='../img/texture_1.jpg' alt='Глянцевый')
                  .form__answer Глянцевый
                  span.form__check
              label.form__label-radio
                input.form__radio(type='radio' name='texture' value='Матовый')
                .form__choise
                  img.form__image(src='../img/texture_2.jpg' alt='Матовый')
                  .form__answer Матовый
                  span.form__check
              label.form__label-radio.active-radio
                input.form__radio(type='radio' name='texture' value='Сатиновый')
                .form__choise
                  img.form__image(src='../img/texture_3.jpg' alt='Сатиновый')
                  .form__answer Сатиновый
                  span.form__check
              label.form__label-radio
                input.form__radio(type='radio' name='texture' value='Не определился(-ась)')
                .form__choise
                  img.form__image(src='../img/construction_4.jpg' alt='Не определился(-ась)')
                  .form__answer Не определился(-ась)
                  span.form__check
          .form-button.form-button__indent
            button.form-button__btn-prev
            button.button.button__blick.form-button__btn-next.button--primary Далее
        fieldset.form__fieldset(style='display: none;')
          .form__title 3. Выберите тип освещения (можно несколько вариантов)
          .form__box
            .form__wrap.check-block
              label.form__label-checkbox
                input.form__input(type='checkbox' name='light[]' value='Люстра' checked='')
                .form__choise
                  img.form__image(src='../img/lighting_1.jpg' alt='Люстра')
                  .form__answer Люстра
                  span.form__check
              label.form__label-checkbox
                input.form__input(type='checkbox' name='light[]' value='Точечные светильники' checked='')
                .form__choise
                  img.form__image(src='../img/lighting_2.jpg' alt='Точечные светильники')
                  .form__answer Точечные светильники
                  span.form__check
              label.form__label-checkbox
                input.form__input(type='checkbox' name='light[]' value='Трековое освещение' checked='')
                .form__choise
                  img.form__image(src='../img/lighting_3.jpg' alt='Трековое освещение')
                  .form__answer Трековое освещение
                  span.form__check
              label.form__label-checkbox
                input.form__input(type='checkbox' name='light[]' value='LED-светильники' checked='')
                .form__choise
                  img.form__image(src='../img/lighting_4.jpg' alt='LED-светильники')
                  .form__answer LED-светильники
                  span.form__check
              label.form__label-checkbox
                input.form__input(type='checkbox' name='light[]' value='Светодиодные ленты' checked='')
                .form__choise
                  img.form__image(src='../img/lighting_5.jpg' alt='Светодиодные ленты')
                  .form__answer Светодиодные ленты
                  span.form__check
              label.form__label-checkbox
                input.form__input(type='checkbox' name='light[]' value='Не определился(-ась)' checked='')
                .form__choise
                  img.form__image(src='../img/construction_4.jpg' alt='Не определился(-ась)')
                  .form__answer Не определился(-ась)
                  span.form__check
          .form-button.form-button__indent
            button.form-button__btn-prev
            button.button.button__blick.form-button__btn-next.button--primary Далее
        fieldset.form__fieldset(style='display: none;')
          .form__title 4. Выберите подарок
          .form__box
            .form__wrap
              label.form__label-radio.active-radio._gifts
                input.form__radio(type='radio' name='gifts' value='Карниз')
                .form__choise
                  img.form__image(src='./img/gifts_1.jpg' alt='Карниз')
                  .form__answer Карниз
                  span.form__check
              label.form__label-radio._gifts
                input.form__radio(type='radio' name='gifts' value='Светильники')
                .form__choise
                  img.form__image(src='./img/gifts_2.jpg' alt='Светильники')
                  .form__answer Светильники
                  span.form__check
          .form-button.form-button__indent
            button.form-button__btn-prev
            button.button.button__blick.form-button__btn-next.button--primary Далее
        fieldset.form__fieldset._contacts(style='display: none;')
          .quiz__form.itog-form
            p.itog-form__title Мы приступили к расчёту
            p.itog-form__subtitle Как вам удобнее получить расчёт?
            label.form__label-checkbox
              input.form__input(type='checkbox' name='calc[]' value='СМС')
              .form__answer СМС
              span.form__check
            label.form__label-checkbox
              input.form__input(type='checkbox' name='calc[]' value='WhatsApp')
              .form__answer WhatsApp
              span.form__check
            label.form__label-checkbox
              input.form__input(type='checkbox' name='calc[]' value='Бесплатная консультация по телефону. Хочу узнать подробнее о акциях, которые сейчас проходят')
              .form__answer Бесплатная консультация по телефону. <br>Хочу узнать подробнее об акциях, которые сейчас проходят
              span.form__check
            .form__number
              p.itog-form__subtitle За этим номером будет закреплен выбранный Вами подарок
              label.form__label
                input.form__input.form__phone(id="quiz__phone" type='tel' name='number' placeholder='Ваш телефон' required="")
                img.input-icon(src='../img/icons/tel.svg' alt='')
            button.button.button__blick.quiz-form__button.button--primary(type='submit') Отправить
    .quiz__advantages.advantages
      .advantages__top
        .advantages__title До предварительного расчета стоимости:
          .advantages__numbers.numbers
            .numbers__item.active 5 вопросов
            .numbers__item 4 вопроса
            .numbers__item 3 вопроса
            .numbers__item 2 вопроса
            .numbers__item 1 вопрос
      .advantages__bottom
        .advantages__item
          img.advantages__img(src='../img/calc.png' alt='')
          .advantages__subtitle Расчет стоимости в трех&nbsp;вариантах
        .advantages__item
          img.advantages__img(src='../img/gifts.png' alt='')
          .advantages__subtitle Карниз или светильники в подарок

