include mixins.pug

.reasons(id="reasons")
  .reasons__container.container
    p.reasons__title.title <span class="semi-bold">Несколько причин</span> выбрать натяжной потолок
    p.reasons__subtitle.subtitle Он подойдет именно Вам, если:
    .reasons__blocks
      .reasons__main
        img(src="../img/reasons-main.png", alt="")
      .reasons__blocks_left
        .reasons__block
          +reasons-title-left('../img/icons/water.png','Нужна защита от затопления')(class="_first")
          .reasons__text(class="_first")
            p Любые протечки от соседей сверху не страшны, пленочный потолок <span class="extra">задержит воду</span> на тот период, который понадобится для устранения возникшей неприятности. <br>Потолок способен выдерживать колоссальные нагрузки: до 100 литров на 1 квадратный метр полотна. 
        .reasons__block  
          +reasons-title-left('../img/icons/aesthetics.png','Цените эстетику в интерьере')
          .reasons__text 
            p Современные натяжные потолки удивляют своим разнообразием. При помощи такого элемента декора можно создать <span class="extra">особенную атмосферу в комнате</span>, сделав ее максимально красивой и уютной. <br>Профессиональные дизайнеры утверждают, что именно натяжные конструкции способны наполнить помещение особенной атмосферой и внести в интерьер некую изюминку. 
        .reasons__block  
          +reasons-title-left('../img/icons/timing.png','Сжатые сроки ремонта')
          .reasons__text 
             p Монтаж простого натяжного потолка занимает <span class="extra">всего несколько часов</span> — намного меньше, чем любого другого потолочного покрытия. <br>При этом, в отличие от покраски, натяжные потолки не нуждаются в тщательном выравнивании основания, которое требует довольно много времени и денег.
        .reasons__block
          +reasons-title-left('../img/icons/building.png','Делаете ремонт в новостройке ')(class="_last")
          .reasons__text._top(class="_last")
            p Если дом совсем новый, он будет давать усадку. Из-за движения плит часто страдают потолочные покрытия: появляются трещины, потолок приходится ремонтировать и перекрашивать. Такой же эффект дают мелкие вибрации из-за ремонта у соседей. <br>Натяжной потолок <span class="extra">скроет все дефекты</span>. Вы можете и не узнать, что они появились.
      .reasons__blocks_right
        .reasons__block  
          +reasons-title-right('../img/icons/mud.png','Нужен монтаж без грязи')(class="_first")
          .reasons__text(class="_first")
            p Натяжные потолки можно устанавливать в последнюю очередь, когда хозяева уже заехали в дом или квартиру. Технология монтажа предполагает <span class="extra">минимум мусора и пыли </span>— свежий ремонт не пострадает.
        .reasons__block  
          +reasons-title-right('../img/icons/flat.png','Нужен идеально ровный потолок')
          .reasons__text 
            p Натяжное полотно создает <span class="extra">идеально ровное покрытие</span>— не желтеющее со временем и без следов валика на потолке. <br>Это особенно важно, когда дизайн-проект подразумевает светильник, развернутый к потолку: при любом освещении поверхность остается ровной и гладкой. 
        .reasons__block  
          +reasons-title-right('../img/icons/low.png','Низкие потолки в квартире')
          .reasons__text 
            p Максимально сохранить высоту помещения можно тремя способами: оставить потолок в бетоне, побелить или покрасить краской, смонтировать натяжное полотно. <br>Некоторые виды профилей для натяжных потолков позволяют сделать <span class="extra">опуск менее 5 см.</span> 
        .reasons__block  
          +reasons-title-right('../img/icons/money.png','Ищете выгодное решение')(class="_last")
          .reasons__text._top(class="_last")
            p Если человек выбирает для оформления потолка краску, например,  то он должен четко понимать, что через год или два придется делать всё заново. <br>Натяжной потолок в свою очередь <span class="extra">прослужит десятки лет</span>, не теряя внешней привлекательности.
            