include mixins.pug

.reviews(id="reviews")
  .reviews__container.container
    .reviews__block-title.block-title
      .block-title__wrapper
        p.block-title__text Отзывы
    p.reviews__title.title Нет ничего лучше, чем <span class="semi-bold">клиенты, довольные результатом</span>
    p.reviews__subtitle.subtitle Контакты клиентов предоставляем только с их согласия
  .reviews__content
    .reviews__slider  
      .swiper-container
        .swiper-wrapper
          .swiper-slide
              +review-item('../img/reviews/review-1-min.jpg','../img/reviews/review-1.jpg','Андрей Александрович','Хотелось бы выразить благодарность Денису и всей команде за качественную и оперативную работу!Устанавливали потолок в ванной комнате, мастер приехал в заранее оговорённое время, работу выполнил быстро и аккуратно. Еще раз спасибо за отличный сервис. Будем обращаться вновь)')
          .swiper-slide
              +review-item('../img/reviews/review-9-min.jpg','../img/reviews/review-9.jpg','Ольга','Обратились к Вам - и не прогадали! Оператор быстро прикинул сумму, мы согласились с бюджетом, пришли ребята и все быстро сделали!)Большое спасибо! Когда дойдет время - повторим со второй комнатой!)')
          .swiper-slide
              +review-item('../img/reviews/review-2-min.jpg','../img/reviews/review-2.jpg','Анастасия Алексеевна','Огромная благодарность всей Вашей команде за отличную работу: Денису - за терпение, отличную организацию, очень ценные советы по электрике и всестороннюю помощь, ребятам - за их мастерство, умелые руки, доброжелательность и позитив. ')
          .swiper-slide
              +review-item('../img/reviews/review-8-min.jpg','../img/reviews/review-8.jpg','Сергей','Потолками очень довольны. Изначально долго не могли выбрать, какие сделать. Спасибо дизайнеру, показал много примеров работ и мы определились. Потолки смонтировали очень быстро, при этом никаких недочетов нет. Работала очень профессиональная бригада. Спасибо за такие красивые потолки!')
          .swiper-slide
              +review-item('../img/reviews/review-3-min.jpg','../img/reviews/review-3.jpg','Елена Петровна','Благодарю за профессиональную, слаженную работу. Это работа супер профессионалов. Как быстро и красиво работают ребята, просто загляденье. Сразу видно, что они специалисты в своём деле. Прекрасный результат. Спасибо!')
          .swiper-slide
              +review-item('../img/reviews/review-7-min.jpg','../img/reviews/review-7.jpg','Алина','Мы ооочень довольны. Рабочие делали все аккуратно, переживали не будет ли ребенок боятся шума, все за собой убрали. До этого 2 года назад заказывали потолки в комнате, зале и прихожей; горку в зал. В который раз убеждаюсь в том, что вы лучшие. Будем обращаться ещё не раз')
          .swiper-slide
              +review-item('../img/reviews/review-4-min.jpg','../img/reviews/review-4.jpg','Надежда Константиновна','Оперативно приехал Денис, сделал все необходимые рассчеты. Далее приехали очень приятные молодые люди - мастера своего дела! Работу выполнили очень быстро, качественно, аккуратно. Потолки вообще не пахнут и радуют глаз! ')
          .swiper-slide
              +review-item('../img/reviews/review-6-min.jpg','../img/reviews/review-6.jpg','Галина','Заказывала потолки, очень довольна работой от начала и до конца. Все получилось гармонично. Заказ выполнили за короткое время. Качество потолков на 100. Приятно работать с людьми, которые могут посоветовать и вежливо относятся к заказчику. Цена тоже приемлемая. Успехов в работе спасибо!!!')
          .swiper-slide
              +review-item('../img/reviews/review-5-min.jpg','../img/reviews/review-5.jpg','Кирилл Михайлович','Заказывали потолок в ванную комнату, туалет и коридор. Пришел замерщик, все измерил и назначил дату монтажа. К назначенному времени приехал монтажник, выполнил работу очень аккуратно, всем остались довольны! Цена порадовала! Спасибо большое!')
        .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
      