script(type="text/javascript" src="js/lib/dinamic.js")
script(type="text/javascript" src="js/lib/tabs.js")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
script(src="js/lib/quiz.js" type="text/javascript")
script(src="js/lib/popup.js" type="text/javascript")
script(src="js/lib/baguetteBox.min.js" type="text/javascript")
script(type="text/javascript" src="js/bundle.js")