.thank-main
  .thank-main__bg 
    img(src="../img/thank-bg.png", alt="")
  .thank-main__container.container
    .thank-main__content
      img.thank-main__img(src="../img/check.svg", alt="")
      h1.thank-main__title Спасибо за Вашу заявку!
      p.thank-main__text Наш менеджер свяжется с Вами в течение рабочего дня.<br> А пока Вы можете рассчитать примерную стоимость по таблице ниже и увидеть ещё больше наших работ
      a.btn__sta(href="index.html") Вернуться на главную