.thank-contact#contacts
  .thank-contact__container.container
    .thank-contact__content
      p.thank-contact__title <span class="semi-bold">Нет времени </span>ждать обратного звонка?
      p.thank-contact__subtitle Тогда свяжитесь с нами любым удобным способом <span class="semi-bold">прямо сейчас </span> 
      .thank-contact__block
        .thank-contact__data
          span.thank-contact__text Наш номер телефона:
          a(href="tel:+").thank-contact__tel &#43; 7 (954) 545-45-45
          span.thank-contact__text Мы в мессенджерах:
          .thank-contact__icons 
            a(href="#") 
              img(src="../img/icons/vk.png", alt="")
            a(href="#") 
              img(src="../img/icons/whatsup.png", alt="")
          .thank-contact__mode
            span.thank-contact__day Работаем каждый день
            span.thank-contact__time с 8:00 до 22:00
        img.thank-contact__img(src="../img/book.png", alt="")