.thank-table
  .thank-table__container.container
    .thank-table__content 
      .thank-table__title.title <span class="semi-bold">Как рассчитывается стоимость?</span>
      .thank-table__wrapper
        table.table
          tr.table__row
            th.table__title Материал
            th.table__material  Китай MSD<br>(Классика)
            th.table__material Китай MSD<br>(Премиум)
            th.table__material Германия<br>(Pongs)
          tr.table__row._medium
            td.table__title Цена за 1 м2
            td.table__text 400 руб.
            td.table__text 500 руб.
            td.table__text 600 руб.
          tr.table__row
            td.table__title Дополнительно
            td.table__text Светильник<br>от 200 руб.
            td.table__text Монтаж светильника<br>300 руб.
            td.table__text Обход трубы<br>300 руб.
