.thank-stages
  .thank-stages__container.container
    p.thank-stages__title Что будет <span class="semi-bold">дальше?</span>
    .thank-stages__content
      .thank-stages__stage
        .thank-stages__text-block.thank-stages__text-block_1 
          .thank-stages__number 1
          .thank-stages__text 
            p <span class="semi-bold">Звонок менеджера</span>
            p Наш менеджер перезвонит или напишет Вам в течение рабочего дня:
            p - ответит на <span class="semi-bold">любые вопросы </span>
            p - озвучит 3 варианта <span class="semi-bold">расчёта стоимости </span>
            p - при необходимости запишет на <span class="semi-bold">бесплатный замер </span>в удобное время
        .thank-stages__img-block
          img.thank-stages__img(src="../img/stages-1.svg", alt="")
      .thank-stages__stage._reverse
        .thank-stages__text-block 
          .thank-stages__number 2
          .thank-stages__text 
            p <span class="semi-bold">Бесплатный замер</span>
            p Наш замерщик Денис приедет в назначенное время:
            p - привезёт <span class="semi-bold">каталог фактур</span> и цветов, сравнит каждый материал и объяснит в чем отличие 
            p - поможет с подбором <span class="semi-bold">освещения  </span>
            p - поможет окончательно <span class="semi-bold">определиться с дизайном</span>, исходя из вашего интерьера  
            span.thank-stages__subtext P.s. Эта услуга абсолютно бесплатна и ни к чему не обязывает, Вы сможете выбрать другого исполнителя
        .thank-stages__img-block 
          img.thank-stages__img(src="../img/stages-2.svg", alt="")
      .thank-stages__stage
        .thank-stages__text-block 
          .thank-stages__number 3
          .thank-stages__text 
            p <span class="semi-bold">Прозрачный договор</span>
            p Если после замера Вас всё устроит, то замерщик составит договор, в котором будут указаны:
            p - точная <span class="semi-bold">фиксрованная стоимость</span>  без последующих “неожиданных” изменений
            p - <span class="semi-bold">гарантия </span>на материалы 15 лет и монтаж 3 года 
            p - <span class="semi-bold">юридическая информация</span> о нашей компании
        .thank-stages__img-block 
          img.thank-stages__img(src="../img/stages-3.svg", alt="")
      .thank-stages__stage._reverse
        .thank-stages__text-block 
          .thank-stages__number 4
          .thank-stages__text 
            p <span class="semi-bold">Установка потолка</span>
            p К вам приезжает бригада опытных монтажников и устанавливает натяжной потолок:
            p - приедут в <span class="semi-bold">оговоренное время</span> , и заранее предупредят о своем визите 
            p - используют <span class="semi-bold"> перфораторы с пылеотводом</span>, проведут сухую уборку и вынесут строительный мусор 
            p - Для монтажа используют профессиональное<span class="semi-bold">взрывобезопасное оборудование</span> 
        .thank-stages__img-block 
          img.thank-stages__img(src="../img/stages-4.svg", alt="")
      .thank-stages__stage
        .thank-stages__text-block 
          .thank-stages__number 5
          .thank-stages__text 
            p <span class="semi-bold">Оплата выполненных работ</span>
            p Вы осматриваете работу на предмет недочётов   и если всё в порядке:
            p - подписываете <span class="semi-bold">акт приёма</span> выполненных работ 
            p - оплачиваете работу любым <span class="semi-bold">удобным способом</span>  или <span class="semi-bold">оформляете рассрочку</span>  до 6 месяцев
            p - Получаете <span class="semi-bold">гарантийные талоны</span> на материалы 15 лет и на монтаж 3 года
        .thank-stages__img-block 
          img.thank-stages__img(src="../img/stages-5.svg", alt="")