doctype html
html(lang="ru")
  include blocks/head.pug
  body 
    .wrapper
      .main-wrapper
        include blocks/header.pug
        include blocks/main.pug
      include blocks/reasons.pug
      include blocks/stages.pug
      include blocks/choise.pug
      include blocks/measurer.pug
      include blocks/materials.pug
      include blocks/installation.pug
      include blocks/acceptance.pug
      include blocks/work.pug
      include blocks/reviews.pug
      include blocks/shares.pug
      include blocks/questions.pug
      include blocks/contacts.pug
      include blocks/footer.pug
      include blocks/modals.pug
    include blocks/scripts.pug